@page "/"
@inject ILogger<Counter> logger

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="image-upload">
    <h2>Information hero image</h2>
    <p>Select an image in the picker, then click Save. A log message should be called on pressing save</p>
    <InputFile OnChange="(e) => OnImageLoad(e)" id="image-upload" />
    <button @onclick="Submit">Save</button>
</div>

@code {
    Stream _stream = default!;
    string _contentType = default!;
    private int currentCount = 0;

    private void Submit()
    {
        logger.LogInformation("Submit Happened");

    }

    public void OnImageLoad(InputFileChangeEventArgs e)
    {
        try
        {
            if (e.File == null)
                return;

            _stream = e.File.OpenReadStream(maxAllowedSize: 2048000);
            _contentType = e.File.ContentType;
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "broken");
        }
    }
}
